@import "reset";
@import "common";
@import "header";
* {
    color: $gray;
}

//由小切到大
body {
    // background-color: #111;
    background-color: #b8f1ed;
    @media screen and(min-width: 768px) {
        p {
            font-size: 22px;
        }
    }
}

#goCartShow {
    i {
        color: $blue;
        // color: #53a9f5;
    }
}

.cartShow {
    width: 100%;
    padding-top: 35px; // background-color: #ccc;
    @media screen and(min-width: 768px) {
        // padding-bottom: 100%;
        margin: auto;
        background-image: url(../images/index/cookieBg.png), url(../images/index/cookieBg1.png), url(../images/index/cookieBg2.png);
        background-repeat: no-repeat;
        background-position: right 300px, left 880px, left 2600px;
    }
    .wrap {
        padding-left: 15px;
        padding-right: 15px;
        @media screen and(min-width: 768px) {
            margin: auto;
            max-width: 1200px;
            width: 80%;
            height: 720px;
        }
        .cartTop {
            //標題與說明區
            .title {
                h2 {
                    text-align: center;
                    color: $blue
                }
                background-image: url(../images/index/title-cloud.png);
                background-repeat: no-repeat;
                background-position: center center;
                text-align: center;
                height: 180px;
                padding: 60px 0;
                position: relative;
                @media screen and(min-width:768px) {
                    height: 190px;
                    padding: 60px;
                    margin: 120px 0 40px;
                }
            }
            .cartFlow {
                display: flex;
                justify-content: space-between;
                align-items: center; // padding: 0px 15px;
                .cartStep {
                    opacity: 0.5;
                    width: 15%;
                    margin: 5px;
                    transition: 0.3s;
                    .step__img {
                        width: 100%; // padding-bottom: 100%;
                    }
                    p {
                        text-align: center;
                        span {
                            font-family: inherit;
                            font-size: 0.5rem;
                        }
                    }
                    &.cartStep_select {
                        width: 20%;
                        opacity: 1;
                        p {
                            span {
                                font-size: 0.8rem;
                            }
                        }
                    } //進行中流程的特效
                }
            }
        }
        .cartTh {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 5px 10px 5px 25px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-around;
            border-radius: 10px;
            :nth-child(1) {
                flex: 1;
            }
            :nth-child(2) {
                flex: 1;
            }
            :nth-child(3) {
                flex: 0.6;
            }
            @media screen and(min-width:768px) {
                padding: 5px 10px 5px 9%;
                :nth-child(1) {
                    flex: 0.5;
                }
                :nth-child(2) {
                    flex: 1.2;
                }
                :nth-child(3) {
                    flex: 0.4;
                }
            }
        }
        .cartContent {
            width: 100%;
            &.cartContent_none {
                //當我們沒有商品在購物車
                // display: flex;
                padding-bottom: 10px;
                display: none;
                flex-direction: column;
                h2 {
                    line-height: 70px;
                    color: $blue;
                }
                h4 {
                    margin-top: 40px;
                    text-align: center;
                    margin-bottom: 40px;
                }
                a {
                    display: block;
                    align-self: center;
                    margin-top: 20px;
                    text-align: center;
                }
                &.cartPageActive {
                    display: flex;
                    @media screen and(min-width:768px){
                        margin-top: 70px;
                    }
                }
            }
            &.cartContent_prod {
                //當我們有商品在購物車
                display: none; // padding: 15px 15px;
                margin-bottom: 100px;
                .prodCards {
                    width: 100%;
                }
                &.cartPageActive {
                    display: flex;
                }
                .prodCard {
                    margin-top: 10px;
                    padding: 10px;
                    margin: auto;
                    width: 100%;
                    &.prodCard_normal {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .prodImg {
                            // width: 20%;
                            flex: 0.8;
                            display: flex;
                            align-items: center;
                            img {
                                display: block;
                            }
                        }
                        .prodInfo {
                            width: 50%;
                            padding: 0px 10px 0 20px;
                            display: flex;
                            flex-direction: column;
                            margin: auto;
                            @media screen and(min-width: 768px) {
                                padding: unset;
                                width: 60%;
                                padding: 0 0 0 14%;
                            }
                            .prodName {
                                flex: 3;
                                display: flex;
                                h5 {
                                    color: #737374;
                                    font-size: 20px;
                                    font-family: g2Med;
                                    justify-self: center;
                                    align-self: center;
                                    line-height: 1.6em;
                                }
                                @media screen and(min-width:768px) {
                                    // margin: auto;
                                    h5 {
                                        font-size: 28px;
                                    }
                                }
                            }
                            .prodPrice {
                                flex: 1;
                                justify-self: center;
                                display: flex;
                                .priceOrigin {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: relative;
                                    margin-right: 5px;
                                    span {
                                        vertical-align: bottom;
                                        color: $blue;
                                    }
                                    &::before {
                                        content: "";
                                        display: block;
                                        width: 100%;
                                        height: 2px;
                                        background-color: $gray;
                                        position: absolute;
                                        top: 50%;
                                        transform-origin: center;
                                        transform: rotate(15deg);
                                    }
                                }
                                .priceNow {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    span {
                                        color: #e97d58;
                                        font-size: 0.55rem;
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                        .cardCtrl {
                            flex: 1.5;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end; // min-width: 20%;
                            // background-color: #222;
                            .prodPriceSum {
                                flex: 1;
                                margin: auto;
                                p {
                                    // text-align: right;
                                    // color:$blue;
                                    span {
                                        font-size: 0.6rem;
                                        color: $blue;
                                        @media screen and(min-width: 768px) {
                                            font-size: 0.8rem;
                                        }
                                    }
                                }
                            }
                            .prodQty {
                                flex: 1;
                                @media screen and(min-width: 768px) {
                                    margin: auto;
                                }
                                .numInput {
                                    width: 100%;
                                    height: 30px;
                                    margin: 5px 0px;
                                    position: relative;
                                    .numMinus {
                                        width: 25%;
                                        height: 30px;
                                    }
                                    .numPlus {
                                        width: 25%;
                                        height: 30px;
                                    }
                                    span {
                                        line-height: 30px;
                                    }
                                    input {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        font-size: 0.5rem;
                                        line-height: 30px; // padding: 0px;
                                        padding-left: unset;
                                    }
                                    @media screen and(min-width:768px) {
                                        width: 130px;
                                        height: 40px;
                                        margin: 10px 0px;
                                        .numMinus {
                                            width: 40px;
                                            height: 40px;
                                        }
                                        .numPlus {
                                            width: 40px;
                                            height: 40px;
                                        }
                                        span {
                                            line-height: 40px;
                                        }
                                        input {
                                            height: 100%;
                                            font-size: 22px;
                                            line-height: 40px; // padding: 0px;
                                        }
                                    }
                                }
                            }
                            .trash {
                                flex: 1;
                                display: block;
                                height: 30px;
                                margin-top: 5px;
                                width: 50px;
                                font-size: 16px;
                                @media screen and(min-width: 1385px) {
                                    margin-top: -50px;
                                }
                                @media screen and(min-width:768px)and(max-width:1385px) {
                                    align-self: center;
                                }
                                @media screen and(min-width:768px) {
                                    width: 56px;
                                    height: 40px;
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                    &.prodCard_single {
                        background-color: rgba(255, 255, 255, 0.8);
                        border-radius: 10px;
                        padding: 10px 20px;
                        margin: 10px 0;
                        @media screen and(min-width: 768px) {
                            padding: 20px 50px;
                            border-radius: 20px;
                        }
                    }
                    &.prodCard_Group {
                        background-color: rgba(255, 255, 255, 0.8);
                        border-radius: 10px;
                        @media screen and(min-width: 768px) {
                            border-radius: 20px;
                        }
                        .prodCard.prodCard_normal,
                        .prodCard.prodCard_Cus {
                            padding: 10px;
                            @media screen and(min-width: 768px) {
                                padding: 40px;
                            }
                        }
                        .prodCard:nth-child(n+2) {
                            border-top: $blue 1px dashed;
                        }
                        .prodCard_CusCard {
                            .cardCtrl {
                                //撥放介面樣式-----------開始
                                //播放條寬度
                                $defBarWidth: 350px * 0.8; //撥放條高度
                                $defBarHeight: 10px; //撥放拉桿寬度
                                $barNoteWidth: 10px; //撥放拉桿高度
                                $barNoteHeight: 30px; //播放條整包
                                .defBar {
                                    width: $defBarWidth;
                                    height: $defBarHeight; //播放條背景色
                                    background-color: #fbc84a; //給拉桿定位用
                                    position: relative;
                                    cursor: pointer;
                                    &:hover .proBar,
                                    &:hover .barNote {
                                        background-color: $deepblue;
                                    } //進度條
                                    .proBar {
                                        //寬度隨播放進度變化
                                        width: 0%; //高度繼承播放條就好
                                        height: inherit; //撥放時的進度條顏色
                                        background-color: #076baf;
                                        cursor: pointer; // transition:  0.1s linear;
                                    } //拉桿
                                    .barNote {
                                        width: $barNoteWidth;
                                        height: $barNoteHeight; // width: 0;
                                        // height: 0px;
                                        background-color: #076baf;
                                        position: absolute; //用公式置中這樣
                                        top: -($barNoteHeight/2) + ($defBarHeight/2);
                                        left: 0%; //隨撥放時間移動
                                        // transform: translateX(-50%); //使用上好像沒有很在意位置的精準度
                                        cursor: pointer; // transition: 0.1s linear;
                                    }
                                } //音量條寬度
                                $volBarWidth:50px; //音量條高度
                                $volBarHeight:5px; //音量拉桿寬度
                                $vol_barNoteWidth:15px; //音量拉桿高度
                                $vol_barNoteHeight:15px; //音量條整包
                                .volBar {
                                    width: $volBarWidth;
                                    height: $volBarHeight; //播放條背景色
                                    background-color: #fbc84a; //給拉桿定位用
                                    position: relative;
                                    cursor: pointer;
                                    &:hover .vol_proBar,
                                    &:hover .vol_barNote {
                                        background-color: #fff;
                                    } //三角形風格
                                    // clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
                                    //進度條
                                    .vol_proBar {
                                        //寬度隨音量調整變化，html5音量預設是 1 ，所以我們寬度也設100%
                                        width: 100%; //高度繼承音量條就好
                                        height: inherit; //音量調整bar的顏色
                                        background-color: #076baf;
                                        cursor: pointer;
                                    } //拉桿
                                    .vol_barNote {
                                        width: $vol_barNoteWidth;
                                        height: $vol_barNoteHeight;
                                        background-color: #076baf;
                                        position: absolute; //用公式置中這樣
                                        top: -($vol_barNoteHeight/2) + ($volBarHeight/2);
                                        left: 100%; //隨音量時間移動，html5音量預設是1，所以我們left也設100%
                                        transform: translateX(-50%);
                                        cursor: pointer;
                                        border-radius: 50%;
                                    }
                                }
                                .au_btn {
                                    cursor: pointer;
                                } //撥放介面元件樣式-----------結束
                                //撥放介面結構樣式----------------------開始
                                #audioItem {
                                    width: 100%; // height: 230px;
                                    margin: auto; // background-color: #ccc;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    align-items: center;
                                    .au_btns {
                                        width: 100%;
                                        height: 50px;
                                        border-radius: 10px; // background-color: $yellow;
                                        border: 5px solid $blue;
                                        display: flex;
                                        justify-content: space-around;
                                        align-items: center;
                                        @media screen and(min-width: 768px) {
                                            width: 45%;
                                        }
                                        .au_btn,
                                        .trash {
                                            width: 25px;
                                            height: 25px;
                                            color: $blue;
                                            background-color: transparent;
                                            border: unset;
                                            border-radius: 10px;
                                            padding: 0px;
                                            text-align: center;
                                            font-size: 22px;
                                            cursor: pointer;
                                            @media only screen and (min-width: $moblie) {
                                                &:hover {
                                                    // background-color: $blue;
                                                    color: #fff;
                                                }
                                            }
                                        }
                                        .volBar,
                                        #au_btn_vol {
                                            display: none;
                                        }
                                    }
                                    .au_ctrl {
                                        .au_time {
                                            width: 100%;
                                            text-align: right;
                                            span {
                                                color: $blue;
                                            }
                                        }
                                    }
                                } //撥放介面結構樣式----------------------結束
                            }
                        }
                        .prodCard_CusPanel {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            .cusTotal {
                                width: 50%;
                                flex: 1;
                                text-align: center;
                                p {
                                    span {
                                        font-size: 0.6rem;
                                        color: $blue;
                                        @media screen and (min-width: 768px) {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                                @media screen and (min-width:768px) {
                                    flex: 2.8;
                                    text-align: unset;
                                }
                            }
                            .cusBtnDel {
                                width: 50%;
                                flex: 1;
                                display: flex;
                                justify-content: flex-end; // cursor: pointer;
                                span {
                                    display: block;
                                    font-size: 0.5rem;
                                    padding: 5px;
                                    border: $blue solid 2px;
                                    color: $blue;
                                    border-radius: 10px;
                                    cursor: pointer;
                                }
                                @media screen and (min-width:768px) {
                                    justify-content: space-around;
                                }
                            }
                        }
                    }
                }
            }
        }
        .cartFormZone {
            //表單填寫
            // display: flex;
            display: none;
            flex-direction: column;
            width: 100%; // background-color: #ccc;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            @media screen and(min-width: 768px) {
                width: 70%;
                margin: 70px auto;
                max-width: 1200px;
            }
            #cartForm {
                padding: 10px;
            }
            &.cartPageActive {
                display: flex;
            }
            form {
                .cartFormCard {
                    display: flex;
                    padding: 10px;
                    &:nth-child(n+2) {
                        border-top: $blue 1px dashed;
                    } // h4 {
                    //     margin-right: 10px; // flex: 1;
                    // }
                    input {
                        display: block;
                        width: 53%;
                        font-size: 0.6rem; // height: 0.75rem;
                        // font-size: 0.75rem;
                        margin: 4px 12px;
                        border-radius: 10px;
                        &:focus {
                            outline: $blue 2px solid;
                        }
                    }
                    .payType {
                        // width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin: 0 4px;
                        .payTypeItem {
                            width: 80px;
                            margin-left: 20px;
                            text-align: center;
                            position: relative;
                            transition: 0.3s;
                            border: rgba(255, 255, 255, 0) solid 3px;
                            &.checked {
                                border: $blue solid 3px;
                                border-radius: 10px;
                            }
                            input {
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                            }
                        }
                    }
                    @media screen and(min-width:768px) {
                        padding: 10px 50px;
                        .payType {
                            .payTypeItem {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
        .cartFinishOrder {
            // display: flex;
            flex-direction: column;
            display: none;
            text-align: center;
            &.cartPageActive {
                display: flex;
                @media screen {
                    margin-top: 70px; 
                }
            }
            h3 {
                margin-top: 20px;
                text-align: center;
                margin-bottom: 40px;
            }
        }
        .cartPanel {
            background-color: #fff; //ENG
            // border: 2px solid #111111; //ENG
            border-radius: 20px 20px 0px 0px;
            box-shadow: #aaa 0px 0px 25px 0px; // padding: 0px 15px;
            width: 100%; // display: flex;
            display: none;
            flex-direction: column;
            position: fixed;
            left: 0;
            bottom: 0;
            @media screen and(min-width: 768px) {
                background-color: unset;
                border-radius: 10px;
                box-shadow: none;
                display: none;
                flex-direction: row;
                position: unset;
                margin: 50px auto;
                left: none;
                bottom: none;
            }
            &.cartPageActive {
                display: flex;
                align-items: center;
            }
            .totalAndCoupon {
                width: 100%;
                display: flex;
                padding: 0px 15px;
                .priceTotal {
                    width: 50%;
                    justify-self: flex-end;
                    span {
                        font-size: 0.75rem;
                        color: $blue;
                    }
                }
                .couponChoose {
                    width: 50%;
                    label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        p {
                            vertical-align: bottom;
                        }
                        #couponList {
                            // width: 50px;
                            display: flex;
                            position: relative; // top: -50%;
                            #couponItem {
                                width: 100%;
                                height: 100%;
                                background-color: #fff; // border: $gray solid 1px;
                                border: none;
                                font-size: 0.75rem;
                                color: $blue; // transform: translateY(-5px);
                                // position: relative;
                                // top: +50%;
                                // margin:auto;
                                // option{
                                //     // vertical-align: middle;
                                // }
                            }
                        }
                    }
                }
                @media screen and(min-width:768px) {
                    background-color: rgba(255, 255, 255, 0.8);
                    border-radius: 10px;
                    .priceTotal {
                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .panelBtn {
                display: flex;
                width: 100%; // padding-bottom: 10px;
                .btnBack {
                    flex: 1;
                    width: 50%;
                    text-align: center;
                    vertical-align: middle;
                    color: $gray;
                    cursor: pointer;
                    span {
                        font-size: 0.65rem;
                    }
                    &.btnBack_none {
                        display: none;
                    }
                }
                .btnNext {
                    background-color: $blue;
                    color: #fff; // border: 2px solid #111111; //ENG
                    border-radius: 20px 20px 0px 0px;
                    flex: 1;
                    width: 50%;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    span {
                        font-size: 0.65rem;
                        color: #fff;
                    }
                }
                @media screen and(min-width:768px) {
                    max-width: 320px;
                    justify-content: flex-end;
                    height: 40px;
                    .btnBack {
                        border-radius: 10px;
                        background-color: $blue;
                        margin-left: 30px;
                        span {
                            color: #fff
                        }
                    }
                    .btnNext {
                        border-radius: 10px;
                        margin-left: 30px;
                        max-width: 130px;
                    }
                }
            }
        }
        .cartPageActive {
            display: flex;
        }
    }
    .lightBoxes {
        width: 100%;
        height: 100vh;
        background-color: #333333aa;
        padding-left: 15px;
        padding-right: 15px;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0; // display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        &.cartPageActive {
            display: flex;
        }
        .lightBox {
            width: 90%; // height: 50vh;
            margin: 200px auto;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #fff;
            border-radius: 10px; // position:absolute; //此置中方式會自動佔滿空間，故改用flex
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            // margin: auto; 
            @media screen and(min-width: 768px) {
                width: 450px;
            }
            .lightBoxContent {
                h3 {
                    text-align: center;
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: #4444444b;
                        transform: translateY(-5px);
                    }
                }
                p {
                    // width: 50%;
                    margin: auto;
                    span {
                        font-size: 0.61rem;
                    }
                    @media screen and(min-width:768px) {
                        width: 330px;
                    }
                }
            }
            .lightBoxBtns {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                .step {
                    width: 45%;
                    &.stepBack {
                        background-color: #fff;
                        color: $blue;
                        border: 2px solid $blue;
                        &:hover {
                            background-color: $deepblue;
                            color: #fff;
                        }
                    }
                    @media screen and(min-width:768px) {
                        width: 150px;
                    }
                }
            }
        }
    }
}

// footer {
//     // display: none;
//     // position: absolute;
//     // bottom: 0;
//     // left: 0;
// }

// * {
//     // outline: red solid 1px;
// }

// .cartPanel{
//     display: none;
// }
// .cartContent_prod{
//     display: none;
// }
// .cartContent.cartContent_none{
//     display: block;
// }
.engBtnList {
    width: 300px;
    height: 50vh;
    background-color: #111;
    transform: translateX(-100%);
    position: absolute;
    top: 20%;
    left: 0%;
    transition: 0.1s;
    &.show {
        transform: translateX(0%);
    }
    .engBtn {
        color: #fff;
        margin: 20px;
        font-size: 0.5rem;
    }
}