@import "reset";
@import "common";

//由小切到大

.body{
    background-color: #111;
}

.cartShow{
    width: 100%;
    padding-top: 35px;
    // background-color: #ccc;

    .wrap{
        padding-left:15px;
        padding-right: 15px;
        .cartTop{ //標題與說明區
            .title{
                h2{text-align: center;}
            }
            .cartFlow{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding: 0px 15px;
                .cartStep{
                    opacity: 0.5;
                    width: 15%;
                    margin: 5px;
                    transition: 0.3s;
                    .step__img{
                        width: 100%;
                        // padding-bottom: 100%;
                    }
                    p{
                        text-align: center;
                        span{font-family: inherit;font-size: 0.5rem;}
                    }
                    &.cartStep_select{
                        width: 20%;
                        opacity: 1;
                        p{
                            span{font-size: 0.8rem;}
                        }
                    } //進行中流程的特效
                }
            }
        }
        .cartContent{
            width: 100%;
            &.cartContent_none{ //當我們沒有商品在購物車
                display: flex;
                display: none;
                flex-direction: column;
                h3{margin-top: 80px;text-align: center;}
                a{
                    display: block;
                    align-self: center;
                    margin-top: 20px;
                }
            }
            &.cartContent_prod{ //當我們有商品在購物車
                // padding: 15px 15px;
                margin-bottom: 100px;
                .prodCard{
                    margin-top: 20px;
                    padding: 10px;
                    width: 100%;
                    border: #333333 solid 2px;
                    border-radius: 10px;
                    &.prodCard_normal{
                        display: flex;
                        justify-content: space-between;
                        .prodImg{
                            // width: 20%;
                            flex:1;
                            display: flex;
                            align-items: center;
                            img{
                                display: block;
                            }
                        }
                        .prodInfo{
                            width: 50%;
                            padding: 0px 5px;
                            display: flex;
                            flex-direction: column;
                            .prodName{
                                flex: 3;
                                display: flex;
                                h4{
                                    justify-self: center;
                                    align-self: center;
                                }
                            }
                            .prodPrice{
                                flex:1;
                                justify-self: center;
                                display: flex;
                                .priceOrigin{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: relative;
                                    margin-right:5px;
                                    color: $gray;
                                    span{vertical-align: bottom;}
                                    &::before{
                                        content: "";
                                        display: block;
                                        width: 100%;
                                        height: 2px;
                                        background-color: $gray;
                                        position: absolute;
                                        top: 50%;
                                        transform-origin: center;
                                        transform: rotate(15deg);
                                    }
                                }
                                .priceNow{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: $coral;
                                    span{
                                        font-size: 0.55rem;
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                        .cardCtrl{
                            flex:1.5;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            // min-width: 20%;
                            // background-color: #222;
                            .prodPriceSum{
                                flex: 1;
                                p{
                                    // text-align: right;
                                    span{font-size: 0.6rem;}
                                }
                            }
                            .prodQty{
                                flex:1;
                                .numInput{
                                    width: 100%;
                                    height: 30px;
                                    margin: 5px 0px;
                                    position: relative;
                                    .numMinus{width: 25%;height: 30px;}
                                    .numPlus{width: 25%;height: 30px;}
                                    span{
                                        line-height: 30px;
                                    }
                                    input{
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        font-size: 0.5rem;
                                        line-height: 30px;
                                        // padding: 0px;
                                    }
                                }
                            }
                            .trash{
                                flex:1;
                                display: block;
                                // width: ;
                                // align-self: flex-end;
                                height: 20px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .cartPanel{
            background-color: #fff; //ENG
            border: 2px solid #111111; //ENG
            border-radius: 20px 20px 0px 0px;
            padding: 0px 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            position:fixed;
            left: 0;
            bottom: 0;
            .totalAndCoupon{
                width: 100%;
                display: flex;
                .priceTotal{
                    width: 50%;
                    justify-self: flex-end;
                    span{
                        font-size: 0.75rem;
                    }
                }
                .couponChoose{
                    width: 50%;
                    label{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        p{
                            vertical-align: bottom;
                        }
                        #couponList{
                            // width: 50px;
                            display: flex;
                            position: relative;
                            // top: -50%;
                            #couponItem{
                                width: 100%;
                                height: 100%;
                                background-color: #fff;
                                // border: $gray solid 1px;
                                border: none;
                                font-size: 0.75rem;
                                // transform: translateY(-5px);
                                // position: relative;
                                // top: +50%;
                                // margin:auto;
                                // option{
                                //     // vertical-align: middle;
                                // }
                            }
                        }
                    }
                }
            }
            .panelBtn{
                display: flex;
                width: 100%;
                .btnBack{
                    flex: 1;
                    width: 50%;
                    text-align: center;
                    vertical-align: middle;
                    span{
                        font-size: 0.65rem;
                    }
                    &.btnBack_none{
                        // display: none;
                    }
                }
                .btnNext{
                    flex: 2;
                    width: 50%;
                    text-align: center;
                    vertical-align: middle;
                    span{
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }
}


footer{
    display: none;
}
*{
    outline: red solid 1px;
}


