@import "reset.scss";
@import "common.scss";
body {
    background-color: #b8f1ed;
    overflow: hidden;
}

.index {
    width: 100%; // height: 100vh;
    .wrap {
        // width: 100%;
        max-width: 1200px;
        margin: auto; // height: 100vh;
        .logo {
            // width: 12%;
            // margin: auto;
            // padding: 30px 0;
            // position: relative;
            // z-index: 100;
            width: 20%;
            margin: auto;
            position: relative;
            z-index: 100;
            margin: 20px auto;
            @media screen and(min-width: 768px) {
                width: 10%;
            }
        }
        .count {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            background-image: url(../images/index/map1.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 350px;
            width: 100%;
            height: 310px; // background-image: url(../images/index/map1.svg);
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: 650px;
            // width: 100%;
            // padding-bottom: 50%;
            @media screen and(min-width: 768px) {
                background-size: 690px;
                height: 580px;
            }
            .btns {
                width: 30%;
                position: relative;
                z-index: 2;
                margin-top: 40px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    width: 80%;
                    height: 80%;
                    z-index: -1;
                    border-radius: 20px;
                    box-shadow: 0 0 40px 5px #fff;
                    animation: zoomInOut .8s infinite alternate;
                  
                }
                @keyframes zoomInOut {
                    0%{transform: scale(1);}
                    100%{transform: scale(1.15);}
                }
                h2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 30px;
                    right: 0;
                    text-align: center;
                    line-height: 65px;
                    color: #076baf;
                    letter-spacing: 1px;
                }
                @media screen and(min-width:768px) {
                    width: 250px;;
                    h2 {
                        font-size: 50px;
                        line-height: 135px;
                    }
                }
            }
        }
        .left {
            .chips {
                position: absolute;
                top: 26%;
                left: 13%;
                -webkit-animation: fallSm 3s 3s linear infinite;
                animation: fallSm 3s 3s linear infinite;
                width: 7%;
            }
            .choco {
                position: absolute;
                top: -2%;
                left: 23%;
                -webkit-animation: fallSm 3s 4.1s linear infinite;
                animation: fallSm 3s 4.1s linear infinite;
                width: 7%;
            }
            .cookie {
                position: absolute;
                top: -2%;
                left: 20%;
                -webkit-animation: fallSm 3s 5s linear infinite;
                animation: fallSm 3s 5s linear infinite;
                width: 7%;
            }
            .candy {
                position: absolute;
                top: -2%;
                left: 30%;
                -webkit-animation: fallSm 3s 5.8s linear infinite;
                animation: fallSm 3s 5.8s linear infinite;
                width: 7%;
            }
        }
        .right {
            .candy {
                position: absolute;
                top: 26%;
                right: 28%;
                -webkit-animation: fallSm 3s linear infinite;
                animation: fallSm 3s linear infinite;
                width: 7%;
            }
            .cookie {
                position: absolute;
                top: -2%;
                right: 13%;
                -webkit-animation: fallSm 3s 0.8s linear infinite;
                animation: fallSm 3s 0.8s linear infinite;
                width: 7%;
            }
            .choco {
                position: absolute;
                top: -2%;
                right: 30%;
                -webkit-animation: fallSm 3s 1.5s linear infinite;
                animation: fallSm 3s 1.5s linear infinite;
                width: 7%;
            }
            .chips {
                position: absolute;
                top: -2%;
                right: 22%;
                -webkit-animation: fallSm 3s 3.1s linear infinite;
                animation: fallSm 3s 3.1s linear infinite;
                width: 7%;
            }
        }
        @media screen and(min-width:768px) {
            .left,
            .right {
                display: none;
            }
            .left {
                .candy {
                    position: absolute;
                    top: 26%;
                    left: 33%;
                    -webkit-animation: fallLg 3s linear infinite;
                    animation: fallLg 3s linear infinite;
                    width: 4%;
                }
                .cookie {
                    position: absolute;
                    top: -15%;
                    left: 29%;
                    -webkit-animation: fallLg 3s 0.8s linear infinite;
                    animation: fallLg 3s 0.8s linear infinite;
                    width: 4%;
                }
                .choco {
                    position: absolute;
                    top: -15%;
                    left: 34%;
                    -webkit-animation: fallLg 3s 1.5s linear infinite;
                    animation: fallLg 3s 1.5s linear infinite;
                    width: 4%;
                }
                .chips {
                    position: absolute;
                    top: -15%;
                    left: 31%;
                    -webkit-animation: fallLg 3s 3.1s linear infinite;
                    animation: fallLg 3s 3.1s linear infinite;
                    width: 4%;
                }
            }
            .right {
                .cookie {
                    position: absolute;
                    top: 26%;
                    right: 34%;
                    -webkit-animation: fallLg 3s linear infinite;
                    animation: fallLg 3s linear infinite;
                    width: 4%;
                }
                .candy {
                    position: absolute;
                    top: -15%;
                    right: 29%;
                    -webkit-animation: fallLg 3s 0.8s linear infinite;
                    animation: fallLg 3s 0.8s linear infinite;
                    width: 4%;
                }
                .chips {
                    position: absolute;
                    top: -15%;
                    right: 30%;
                    -webkit-animation: fallLg 3s 1.5s linear infinite;
                    animation: fallLg 3s 1.5s linear infinite;
                    width: 4%;
                }
                .choco {
                    position: absolute;
                    top: -15%;
                    right: 32%;
                    -webkit-animation: fallLg 3s 3.1s linear infinite;
                    animation: fallLg 3s 3.1s linear infinite;
                    width: 4%;
                }
            }
        }
        @-webkit-keyframes fallSm {
            0% {
                top: 30%;
                transform: rotate(-60deg);
            }
            100% {
                top: 100%;
                transform: rotate(60deg);
            }
        }
        @keyframes fallSm {
            0% {
                top: 30%;
                transform: rotate(-60deg);
            }
            100% {
                top: 100%;
                transform: rotate(60deg);
            }
        }
        @-webkit-keyframes fallLg {
            0% {
                top: 30%;
                transform: rotate(-60deg);
            }
            100% {
                top: 100%;
                transform: rotate(60deg);
            }
        }
        @keyframes fallLg {
            0% {
                top: 30%;
                transform: rotate(-60deg);
            }
            100% {
                top: 100%;
                transform: rotate(60deg);
            }
        } // .snackFall {
        //     .chips {
        //         -webkit-animation: luo 3s infinite linear;
        //         animation: luo 3s infinite linear;
        //         width: 7%;
        //     }
        //     .choco {
        //         -webkit-animation: luo 3s infinite 1.1s linear;
        //         animation: luo 3s infinite 1.1s linear;
        //         width: 7%;
        //     }
        //     .cookie {
        //         -webkit-animation: luo 3s infinite 2s linear;
        //         animation: luo 3s infinite 2s linear;
        //         width: 7%;
        //     }
        //     .candy {
        //         -webkit-animation: luo 3s infinite 2.8s linear;
        //         animation: luo 3s infinite 2.8s linear;
        //         width: 7%;
        //     }
        // } // .front {
        //     .snackFall {
        //         position: relative;
        //     }
        // }
        // .back {
        //     .snackFall {
        //         position: relative;
        //     }
        // }
    }
    #floor {
        width: 100%;
        bottom: -10px;
        position: absolute;
        img {
            vertical-align: bottom;
        }
        @media screen and(min-width:768px) {
            bottom: -70px;
        }
    }
    .cuteIp {
        position: absolute;
         // position: absolute;
        width: 100%;
        bottom: 20px;
        // right: -18px;
         // position: absolute;
        z-index: 1;
        img {
            width: 50%;
            animation: ipWalk 5s linear 0s infinite;
        }
        @media screen and(min-width:768px) {
            // animation: ipWalk 10s linear 0s infinite;
            left: -95px;
            img {
                width: 10%;
                margin: auto;
                min-width: 190px;
                display: block;
                animation: ipWalk 5s linear 0s infinite;
            }
        }
    }
}

@keyframes ipWalk {
    0% {
        -webkit-transform: translate(0%, 0%) rotateY(0);
    }
    5% {
        -webkit-transform: translate(10%, 10%) rotateY(0);
    }
    10% {
        -webkit-transform: translate(20%, 0%) rotateY(0);
    }
    15% {
        -webkit-transform: translate(30%, 10%) rotateY(0);
    }
    20% {
        -webkit-transform: translate(40%, 0%) rotateY(0);
    }
    25% {
        -webkit-transform: translate(50%, 10%) rotateY(0);
    }
    30% {
        -webkit-transform: translate(60%, 0%) rotateY(0);
    }
    35% {
        -webkit-transform: translate(70%, 10%) rotateY(0);
    }
    40% {
        -webkit-transform: translate(80%, 0%) rotateY(0);
    }
    45% {
        -webkit-transform: translate(90%, 10%) rotateY(0);
    }
    50% {
        -webkit-transform: translate(100%, 0%) rotateY(0);
    }
    50.01% {
        -webkit-transform: translate(99.9%, 10%) rotateY(180deg);
    }
    55% {
        -webkit-transform: translate(90%, 0%) rotateY(180deg);
    }
    60% {
        -webkit-transform: translate(80%, 10%) rotateY(180deg);
    }
    65% {
        -webkit-transform: translate(70%, 10%) rotateY(180deg);
    }
    70% {
        -webkit-transform: translate(60%, 0%) rotateY(180deg);
    }
    75% {
        -webkit-transform: translate(50%, 10%) rotateY(180deg);
    }
    80% {
        -webkit-transform: translate(40%, 0%) rotateY(180deg);
    }
    85% {
        -webkit-transform: translate(30%, 10%) rotateY(180deg);
    }
    90% {
        -webkit-transform: translate(20%, 0%) rotateY(180deg);
    }
    95% {
        -webkit-transform: translate(10%, 10%) rotateY(180deg);
    }
    100% {
        -webkit-transform: translate(0%, 0%) rotateY(180deg);
    }
    0% {
        -webkit-transform: translate(0%, 0%) rotateY(0);
    }
    5% {
        -webkit-transform: translate(10%, 10%) rotateY(0);
    }
    10% {
        -webkit-transform: translate(20%, 0%) rotateY(0);
    }
    15% {
        -webkit-transform: translate(30%, 10%) rotateY(0);
    }
    20% {
        -webkit-transform: translate(40%, 0%) rotateY(0);
    }
    25% {
        -webkit-transform: translate(50%, 10%) rotateY(0);
    }
    30% {
        -webkit-transform: translate(60%, 0%) rotateY(0);
    }
    35% {
        -webkit-transform: translate(70%, 10%) rotateY(0);
    }
    40% {
        -webkit-transform: translate(80%, 0%) rotateY(0);
    }
    45% {
        -webkit-transform: translate(90%, 10%) rotateY(0);
    }
    50% {
        -webkit-transform: translate(100%, 0%) rotateY(0);
    }
    50.01% {
        -webkit-transform: translate(99.9%, 10%) rotateY(180deg);
    }
    55% {
        -webkit-transform: translate(90%, 0%) rotateY(180deg);
    }
    60% {
        -webkit-transform: translate(80%, 10%) rotateY(180deg);
    }
    65% {
        -webkit-transform: translate(70%, 10%) rotateY(180deg);
    }
    70% {
        -webkit-transform: translate(60%, 0%) rotateY(180deg);
    }
    75% {
        -webkit-transform: translate(50%, 10%) rotateY(180deg);
    }
    80% {
        -webkit-transform: translate(40%, 0%) rotateY(180deg);
    }
    85% {
        -webkit-transform: translate(30%, 10%) rotateY(180deg);
    }
    90% {
        -webkit-transform: translate(20%, 0%) rotateY(180deg);
    }
    95% {
        -webkit-transform: translate(10%, 10%) rotateY(180deg);
    }
    100% {
        -webkit-transform: translate(0%, 0%) rotateY(180deg);
    }
}