// *{
//     outline: 1px solid #ff0000;
// }
@import "reset";
@import "common";
$tabColor:#076baf;
$p:22px;
@mixin btn($btns, $width, $height, $color, $bgc, $bordercolor, $bordius, $pad, $hovColor, $hovBgc, $font) {
    .#{$btns} {
        width: $width;
        height: $height;
        color: $color;
        background-color: $bgc;
        border: 2px solid $bordercolor;
        border-radius: $bordius;
        padding: $pad;
        font-family: g2Font;
        text-align: center;
        text-decoration: none;
        font-size: $font;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        @media only screen and (min-width: $moblie) {
            &:hover {
                color: $hovColor;
                background-color: $hovBgc;
            }
            &:focus{
                outline: none;
            }
        }
        
    }
}
@include btn('cart1', 130px, 40px, #fff, $blue, transparent, 10px, 0px, #fff, $deepblue, 20px);
@include btn('subscribe1', 70px, 35px, $gray, #fcda85, transparent, 10px, 0px, $gray, #fbc84a, 28px);
body{
    background-color: #b8f1ed;
    
}

span{
    color:$blue;
}

.title {
    width: 260px;
    margin: 120px auto 20px auto;
    text-align: center;
    background-image: url(../images/blair/title.png);
    background-repeat: no-repeat;
    h2{
        line-height: 163px;
        color: $blue;
    }
}
header{
    nav{
        .login{
            li:first-child{
                #btnloglout{
                    color: #737374;
                }
                
            }
        }
    }
}

.memWrap{
    width: 92%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    
   
    form{
        width: 100%;
        // margin: 45% auto 10% auto;
        height: auto;
        padding: 45px;
        background-color: #fff;
        border-radius: 10px;
        //---------大頭貼上傳------------
    .col-1{
        width: 100%;
        height: 100px;
        
        tr{
            width: 100%;
            height: 80px;
            td{
                
                text-align: center;
                padding-top: 1%;
                div{
                   margin: auto;
                   margin-top: 5%; 
                    // width: 250px;
                    // border: 2px dotted #076baf;
                    // border-radius: 50%;
                     
                    img{
                        width: 200px; 
                        padding-top: 2%;
                                                 
                        }
                }
            .memPic{
                p{
                    font-family: g2Font;
                    font-size: $p;
                    padding: 10px; 
                    color: #076baf;
                    cursor:pointer ;
                    img{
                        width: 5%;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                     
                 }
                 input{
                    width: 50%;
                   padding-top: 5px;
                   display: none;
                   &:focus{
                       outline: none;
                   }
                }
                 

            } 
                

            }
            
        
        }

    }
    //-------------基本資料------------------------
    .col-2{
        width: 100%;
        padding: 30px;
        
        tr{
            width: 100%;
            // height: 30px;
            
            td{
                padding: 2% 3%;
                // text-align: center;

                p{
                    font-family: g2Font;
                    color: #076baf;
                    font-size: $p;
                    // padding: 1% ;
                    
                    input{
                        color: #076baf;
                        width: 140px;
                        background-color: transparent;
                        font-family: g2Med;
                        font-size: 16px;
                        border-radius: 10px;
                        &:focus{
                            outline: 1px solid $tabColor;
                            background-color: #e0f3fc;
                            border-radius: 10px;
                           
                            
                        }
                    }
                    
                    span{
                        font-size: 20px;
                        font-family: g2Med;
                        padding: 0 20px;
                    }
                    img{
                        width: 7%; 
                        vertical-align: unset;  
                        cursor: pointer;
                        border: 1px double #076baf;
                        border-radius: 15px 1px;
                        box-shadow: 2px 2px 2px 1px #aaa;
                        &:hover{
                            box-shadow: inset 0 0 35px 5px rgba(161, 161, 161, 0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px 0 rgba(150, 150, 150, 0.25);
                            border: none;
                        }
                        
                        
                    }
                }
            }
        }
            
        }
        
    }
    //----------- 成就等級------------
    .col-3{
        width: 100%;
        // height: 30px;
        tr{
            td{
                padding: 2% 3%;
                // text-align: center;
                height: 35px;
               
                p{
                    font-family: g2Font;
                    font-size: $p;
                    color: #076baf;
                    line-height: 1.6;
                    span{
                        font-size: 18px;
                        font-family: g2Font;
                    }
                }
                .modify{
                    input{
                        height: 45px;
                    }
                }
            }
        
        }
        tr:nth-child(3){
            text-align: center;
            span{
                font-size: 16px;
                color: #f00;
                line-height: 1.6;
                font-family: g2Font;
                
                }
            }
            tr:last-child{

                .modify{
                    text-align: center;
                }
            }
           
        } 
    }
    

//-------------------------以下為頁籤頁面---------------------------

.itemTab2{
    max-width: 1200px;
    width: 100%;
    // height: 100vh;
    margin: 10% auto;
 
   //--------------------------頁籤-------------------------- 
   
    .tabContainer{
        
        .tabs{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: auto;

            .tablinks{
                margin: 3%;
                
                h4{
                    line-height: 1.6;
                }
                // h4:hover{
                    
                    
                //     background-color: #fff;
                    
                // }
                
            }
            .tablinks.active h4{
                border: 2px solid $deepyellow;
                color: $deepyellow;
                border-radius: 10px;
                background-color: #fff;
            }
            li:last-child{
                width: 150px;
            }
          
        }

    }

//---------------------------頁籤內容---------------------- 
.wrapTabPanel{
    position: relative;
    width: 100%;
    margin-top: 30px;
    // height: 100vh;
    .tabPanel{
        width: 92%;
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        margin-bottom: 20px;
        
    
    }
    
    //-------------累積成就----------------
    #tab-1{
        .levelInfor{
            width: 100%;
            // height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
                font-size: 10px;
                line-height: 2;
                color:$tabColor;
                font-family: g2Font; 
            }
            .topLevel{
                // position: relative;
               width: 100%;
               display: flex;
               justify-content: space-evenly;
               align-items: flex-start;
               padding: 2% 0;
               
               
            }
            .procBar{
                position: relative;
                .baby{
                    width: 8%;
                    // height: 100%;
                    position: absolute;
                    top: 20%;
                    left: 2%;
                    img{
                        width: 100%;
                    } 
                    
    
                }
                .colorBar{
                    border: 1px solid #000;
                    border-radius: 15px;
                    width: 90%;
                    height: 60px;
                    margin: auto;
                    .nowPro{
                        width: 16%;
                        height: 100%;
                        background-color: #f8dcd3;
                        border-radius: 15px 0 0 15px;
                    }
    
                }
                .kid{
                    position: absolute;
                    top: 68%;
                    left: 15%;
                    width: 8%;
                    // height: 100%;
                    img{
                        width: 100%;
                    }
                }
                
            }
            .bottumLevel{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 2%;
            }
        }
        .description{
            h4{
                font-family: g2Font;
                color: $tabColor; 
                text-align: center;
                line-height: 2;
            }
            
            .specify{
                
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .col4{
                    width: 50%;
                    padding: 5px;
                    p{
                        font-size: 18px;
                        line-height: 2;
                        // padding-left: 2%;
                        color: $tabColor;
                        font-family: g2Font; 
                        padding: 0 10px;
                        
                    }
                    
                    li{
                        font-size: 16px;
                        line-height: 1.6;
                        color: $tabColor;
                        font-family: g2Med;
                        // padding-left: 2%;
                        padding: 0 0 10px 8px;
                    }
                } 
    
                
            }
            .btnn{
                text-align: center;
                .goToCustom{
                    height: 35px;
                    font-size: 20px;
                    line-height: 1.6;
                    margin: 12px 0;
    
                }
            }
            
            
        }
    }
    //----------------訂單管理--------------
    #tab-2{
        .order{
            width: 100%;
            &:nth-child(odd){
                background-color: antiquewhite;
                border-radius: 10px;
            }
    //-----------訂單基本資料-----------------        
            .orderList{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                padding: 20px;
                table{
                    tr{
                        line-height: 1.6;
                        th{
                            color: $tabColor;
                            font-size: 20px;
                            font-family: g2Font; 
                        }
                        td{
                            color: $tabColor;
                            font-size: 18px;
                            font-family: g2Med;
                            padding: 10px;
                        }
                    }
                    
                }
            }
            .total{
                text-align: right;
                
                p{
                    font-size: 18px;
                    line-height: 1.6;
                    color: $tabColor;
                    font-family: g2Font;
                    padding: 20px; 
                    margin-top: -35px;
                }
            }
    //----------------訂單明細-------------------        
            .orderitem{
                width: 100%;
                margin-top: -10px;
                p{
                    text-align: center;
                    font-size: 18px;
                    color: $tabColor;
                    line-height: 2;
                    cursor: pointer;
                    
                }
                .line{
                    width: 92%;
                    margin: auto;
                    height: 2px;
                    border-bottom: 2px solid $blue;
                    margin-bottom: 10px;
                }
//=======================手機版的明細和燈箱==================
                .orderLis_content{
                    position: relative;
                    display: none;
                    width: 100%;
                    .orderList_items_title{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        li{
                            line-height: 1.6;
                             padding: 10px;
                             width: 25%;
                             font-size: 18px;
                             text-align: center;
                             color: $tabColor;
                             font-family: g2Med;
                             white-space:nowrap;
                            }
                          li:first-child{
                              display: none;
                          }  
                          li:nth-child(5){
                              display: none;
                          }
                          li:nth-child(6){
                              display: none;
                          }
                        }
                    .orderList_moreItems{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                         li{
                            line-height: 1.4;
                            text-align: center;
                            padding: 8px;
                            width: 25%;
                            font-size: 16px;
                            color: $tabColor;
                            font-family:g2Med; 

                            button{
                                 width: 50px;
                                 font-size: 12px;
                                 height: 30px;
                                 &.orderList_eva_done{
                                    background-color: rgb(207, 206, 206);
                                    color:#737374;
                                    cursor: default;
                                 }
                                }
                            }
                          li:first-child{
                              display: none;
                          }
                          li:nth-child(5){
                              display: none;
                          }
                          li:nth-child(6){
                            display: none;
                            }
                        }
                    .eva_lightBox{
                        position: absolute;
                        // top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: none;
                        border-radius: 10px;
                        width: 320px;
                        margin: auto;
                        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
                        border-radius: 10px;
                        box-shadow: 5px 5px 10px 0px #aaa;

                        .eva_lightBox_leave{
                            text-align: right;
                            display: block;
                            font-size: 28px;
                            line-height: 1.6;
                            padding: 0 10px;
                        }
                        .evaContent{
                            width: 100px;
                            margin: auto;
                            img{
                                width: 100%;
                                margin: auto;
                                padding: 10px;
                            }
                            p{
                                font-size: 16px;
                                padding: 5px;
                                line-height: 1.6;
                            }
                        }
                        .eva_lightBox_Starts{
                          ul{
                              li{
                                  p{
                                    text-align: left;  
                                    padding: 5px;
                                  }
                                  .eva_lightBox_swStars,.eva_lightBox_spStars,.eva_lightBox_suStars,.eva_lightBox_gdStars{
                                      font-size: 16px;
                                      color: $tabColor;
                                      font-family:g2Med; 
                                      display: flex;
                                      justify-content: space-around;
                                      align-items: center;
                                      padding: 5px;
                                      li{
                                         text-align: center;
                                        input{
                                            width: 20px;
                                        } 
                                      }
                                      

                                  }
                              }
                          }  
                        }
                        .eva_lightBox_textDics{
                            display: block;
                            padding: 5px;
                           margin: auto;
                            resize: none;
                        }
                        .evaSend{
                            text-align: center;
                            .sendEva{
                                font-size: 16px;
                                width: 100px;
                                height: 35px;
                                margin: 10px;
                            }
                        }

                        }
                    .eva_lightBox.appear{
                        display: block;
                        // width: 320px;
                        margin: auto;
                     }
                    
                    }

                .orderLis_content.show {
                    display:block;
                    } 
 //=================== 手機版的明細和燈箱=======================                   
                }
              }
        
 
        }
    //-----------------收藏品---------------------
    
    #tab-3{
        .collect{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
                
                .item{
                    background-color: rgb(228, 222, 222);
                    width: 280px;
                    height: 400px;
                    border-radius: 10px;
                    position: relative;
                    margin: auto;
                    text-align: center;
                    margin-top: 20px;
                    padding: 3px;
                    margin-bottom: 20px;
                    
                    .country{
                        width: 40px;
                        position: absolute;
                        top: 10px;
                        right: 15px;
                    }
                    .itemImg{
                        width: 140px;
                        margin-top: 29px;
                    }
                    .itemName{
                        padding: 0 15px;
                    }
                    .sellPrice{
                        width: 250px;
                        height: 50px;
                        p{
                            font-size: $p;
                            line-height: 2;
                            color: $tabColor;
                            margin-top: 10px;
                            span{
                                font-size: $p;
                                padding: 0 5px;

                            }
                        }
                        
                    }
                    .citemBtns{
                        margin-top: 0px;
                    }
                    
                }
        
        }
    } 
    //---------------優惠券--------------------------    
    #tab-4{
        
        table{
            margin: auto;
            width: 100%;
            tr{
                
                text-align: center;
                th{
                    width: 20%;
                    line-height: 3;
                    color: $tabColor;
                    font-family: g2Font;
                    font-size: 16px;
                    // border-bottom: 2px solid #076baf;
                }
            }
            
        }
        #coupon{
            tr{
                td{
                    // text-align: center;
                    width: 20%;
                    vertical-align: middle;
                    padding: 2%;
                    font-family: g2Med;
                    color: $tabColor;
                    font-size: 14px;
                    margin-right: 1%;
                }
                img{
                    width: 65%;
                }
            }
        }

    }    

 } 
            
    
 
} 
#cou,#or,#coll{
    font-family: g2Font;
    color: #737374;
    font-size: 26px;
    line-height: 1.6;
    padding: 20px;
}
//--------------------手機RWD-------------------------------

@media screen and(max-width:768px){
    .memWrap{
        form{
            margin: auto ;
            margin-top: 30px;
            .col-1{
                width: 100%;
                height: 100px;
                
                tr{
                    width: 100%;
                    height: 80px;
                    td{
                        
                        text-align: center;
                        padding-top: 1%;
                        p{
        
                            input{
                                width: 160px;
                                
                            }
        
                    }
                    div{
                        margin: auto;
                        margin-top: 5%; 
                         width: 230px;
                         // border: 2px dotted #076baf;
                         // border-radius: 50%;
                          
                         img{
                             width: 200px; 
                             padding-top: 2%;
                                                      
                             }
                     }
                    
                
                }
        
            }
            
            .col-3{
                tr:last-child{
                    text-align: center;
                    
                } 
            }

        }
        
    }
    .itemTab2{
        
        .tabContainer{
            #tab-1{
                .description{
                    h4{
                        font-size: 25px;
                    }
                    
                    .specify{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .col4{
                            width: 50%;
                            p{
                                font-size: 18px;
                                line-height: 2;
                                padding-left: 2%;
                                color: $tabColor;
                                font-family: g2Font; 
                                
                            }
                            li{
                                padding: 2%;
                                font-size: 15px;
                                line-height: 1.6;
                                color: $tabColor;
                                font-family: g2Font;
                            }
                        }  
                        
                    }
            
                
                }
                
            }
            
            
        
        }
        

    }
    // footer{
    //     display: block;
    // }
    
    
    }

    
}    
//------------------桌機ＲＷＤ--------------------------

@media screen and(min-width:992px){
    .memWrap{
        width: 100%;
        form{
            margin: auto;
            margin-top: 30px;
            // height: 33vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: space-around;
            .col-1{
                margin: auto;
                margin-right: 20px;
                tr{
                    td{
                        padding-top: 0%;
                        div{
                            width: 65%;
                            margin-top: 0%;
                            img{
                                width: 78%;
                                label{
                                    p{
                                        
                                        img{
                                            width: 3%;
                                        }
                                         
                                     }     
                    
                                } 
                            }
                        }
                    }
                }
            }
            .col-2{
                
                tr{                
                    td{                          
                        p{
                            font-size: $p;                           
                            input{ 
                                width: 160px;                              
                                font-size: 18px;                                
                            }
                            img{
                                width: 8%; 
                                vertical-align: unset;                 
                            }
                            }
                        }                      
                    }              
                    
                }
                .col-3{         
                    tr{
                        td{                      
                            p{
                                padding: 0 20px;
                                font-size: $p;                       
                                span{
                                    font-size: $p;
                                }
                            }
                        }  
                        
            
                        }
                        tr:nth-child(3){
                            td{
                                text-align: left;
                                span{
                                    padding: 0 20px;
                                    font-size: 20px;
                                }
                            }
                        }
                        tr:last-child{
                            text-align: left;
                            padding: 0 20px;
                            .modify{
                                button{
                                    height: 35px;
                                    font-size: 20px;
                                    margin: 20px;
                                }
                            }
                        }     
                    }   
            }
            //----------- 成就等級------------
            
            }       

    .itemTab2{
        margin: 5% auto;
        height: auto;
        .tabContainer{
            .tabs{
                flex-direction: no-wrap;
            }

        }
        .wrapTabPanel{
            .tabPanel{
                max-width: 1200px;
                width: 100%;
                // height: auto;
            }

            #tab-1{
                .levelInfor{
                    span{
                        font-size: 16px;
                        line-height: 1.6;
                    }
                    .procBar{
                        .baby{
                            width: 5%;
                            top: 0;
                            left: 3%;
                        }
                        .kid{
                            width: 5%;
                            top: 25%;
                            left: 17%;
                        }
                    }
    
                }
                .description{
                    margin-top: 2%;
                    h4{
                        font-size: 28px;
                    }
                    
                    .specify{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        padding: 20px 50px;
                        .col4{
                            width: 25%;
                            p{
                                font-size: 25px;
                            }
                            
                            li{
                                font-size: 20px;
                                font-family: g2Med;
                            }
                        }
                        
                    } 
    
                }
                
            }
            #tab-2{
                .order{
                    
                    .orderList{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                       
                        table{
                            width: 45%;
                            tr{
                              
                                th{
                                    font-size: 22px;
                                    width: 34%;
                                    padding: 10px;
                                }
                                td{
                                    padding: 10px;
                                    font-size: 18px;
                                    padding: 10px;
                                }
                            }
                            
                        }
                    }
                    .total{
                        text-align: right;
                        
                        p{
                            font-size: $p;
                            padding: 70px; 
                            margin-top: -88px;
                        }
                    }
                    .orderitem{
                        width: 100%;
                        margin-top: -46px;
                        p{
                            font-size: $p;
                            
                        }
                        .line{
                            width: 95%;
                        }
        //=======================桌機版的明細和燈箱==================
                        .orderLis_content{
                            // position: relative;
                            .orderList_items_title{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                align-items: center;
                                li{
                                    line-height: 1.6;
                                     padding: 10px;
                                     width: 25%;
                                     font-size: 25px;
                                     text-align: center;
                                     color: $tabColor;
                                     font-family: g2Med;
                                     white-space:nowrap;
                                    }
                                  li:first-child{
                                      display: block;
                                  }  
                                  li:nth-child(5){
                                      display: block;
                                  }
                                  li:nth-child(6){
                                      display: block;
                                  }
                                }
                            .orderList_moreItems{
                                 li{ 
                                    width: 15%;
                                    font-size: $p;
                                    
                                    button{
                                         width: 80px;
                                         font-size: 16px;
                                         height: 40px;
                                         &.orderList_eva_done{
                                            background-color: rgb(207, 206, 206);
                                            color:#737374;
                                            cursor: default;
                                         }
                                        }
                                    }
                                  li:first-child{
                                      display: block;
                                      img{
                                          width: 70%;
                                      }
                                  }
                                  li:nth-child(5){
                                      display: block;
                                  }
                                  li:nth-child(6){
                                    display: block;
                                    }
                                    
                                }
                            .eva_lightBox{
                                position: fixed;
                                // display: none;
                                // top: 0;
                                bottom: 15%;
                                left: 0;
                                right: 0;
                                margin: auto;
                                width: 800px;
                            
  
                                .eva_lightBox_leave{
                                    text-align: right;
                                    display: block;
                                    font-size: 28px;
                                    line-height: 1.6;
                                    padding: 0 15px;
                                }
                                .eva_Boxing{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-around;
                                    .evaContent{
                                        width: 180px;
                                        margin: auto;
                                        img{
                                            width: 100%;
                                            margin: auto;
                                            padding: 10px;
                                        }
                                        p{
                                            font-size: 18px;
                                        }
                                    }
                                    .eva_lightBox_Starts{
                                      ul{
                                          li{
                                              p{
                                                line-height: 1.6;
                                              }
                                              .eva_lightBox_swStars,.eva_lightBox_spStars,.eva_lightBox_suStars,.eva_lightBox_gdStars{
                                                
                                                  padding: 10px;
                                                  li{
                                                     text-align: center;
                                                    input{
                                                        width: 20px;
                                                    } 
                                                  }
                                                  
            
                                              }
                                          }
                                      }  
                                    }
                                    .eva_lightBox_msg{
                                         width: 300px;
                                         .eva_lightBox_textDics{
                                            margin-top: 20px;
                                            
                                        }
                                    }
                                    
                                }
                                
                                
                                .evaSend{
                                    text-align: center;
                                    .sendEva{
                                        font-size: 16px;
                                        width: 100px;
                                        height: 35px;
                                        margin: 10px;
                                    }
                                }
        
                                }
                            .eva_lightBox.appear{
                                width: 800px;
                                margin: auto;
                             }
                            
                            }
        
                        
                
        
                    
            
                    }
            //-----------------收藏品---------------------
            
                #tab-3{
                        .collect{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-self: center;
                                
                                .item{
                                    background-color: rgb(228, 222, 222);
                                    width: 280px;
                                    height: 400px;
                                    border-radius: 10px;
                                    position: relative;
                                    margin: auto;
                                    text-align: center;
                                    margin-top: 20px;
                                    padding: 3px;
                                    
                                    .country{
                                        width: 40px;
                                        position: absolute;
                                        top: 10px;
                                        right: 15px;
                                    }
                                    .itemImg{
                                        width: 140px;
                                        margin-top: 29px;
                                    }
                                    .sellPrice{
                                        width: 280px;
                                        height: 50px;
                                        p{
                                            font-size: $p;
                                            line-height: 2;
                                            color: $tabColor;
                                            margin-top: 10px;
                                            span{
                                                font-size: $p;
                                                padding: 0 5px;
        
                                            }
                                        }
                                        
                                    }
                                    .citemBtns{
                                        margin-top: 0px;
                                    }
                                    
                                }
                        
                        }
                    }
                
                
            //---------------優惠券--------------------------    
                #tab-4{
                    width: 85%;
                    table{
                        margin: auto;
                        width: 100%;
                        tr{
                            
                            text-align: center;
                            th{
                                width: 20%;
                                line-height: 3;
                                color: $tabColor;
                                font-family: g2Font;
                                font-size: 16px;
                                border-bottom: 2px solid #076baf;
                            }
                        }
                        
                    }
                    #coupon{
                        tr{
                            td{
                                // text-align: center;
                                width: 20%;
                                vertical-align: middle;
                                padding: 2%;
                                font-family: g2Font;
                                color: $tabColor;
                                font-size: 14px;
                                margin-right: 1%;
                            }
                            img{
                                width: 65%;
                            }
                        }
                    }
                }
                
        
            }      
            
            
                } 
            #tab-3{
                    .collect{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-self: center;  
                        .item{
                            width: 260px;
                            margin: 18px;
                            padding: 5px;
                        }    
                    }
                }
            #tab-4{
                table{
                    margin: auto;
                    width: 100%;
                    tr{
                        
                        text-align: center;
                        th{
                            
                            font-size: 22px;
                            
                        }
                    }
                    
                }
                #coupon{
                    tr{
                        td{
                           
                            font-size: 20px;
                            
                        }
         
                    }
                }
                        
                    } 
            }
            


         }


        }
        // footer{
        //     // bottom: unset;
        //     #floor {
        //         position: relative;
        //         text-align: center;
        //         #copy {
        //             position: absolute;
        //             bottom: 0;
        //             left: 0;
        //             right: 0;
        //             margin: auto;
        //             font-size: 1.2vw;
        //         }
        //     }
        // }  
        
    
    

@media screen and(min-width:1200px){
    
    body{
        background-image: url(../images/tina/leftCandy.png),url(../images/tina/rightCandy.png);
        background-repeat: no-repeat;
        background-position: bottom left ,bottom right ;
        background-size: 17% 75%;
    }
    body::before{
        content: '';
        display: block;

    }
    .wrapTabPanel{
        height: 70vh;
        
    }
    
    

}

// .footer{
//     #floor {
//         position: relative;
//         text-align: center;
//         #copy {
//             position: absolute;
//             bottom: 2px;
//             @media screen and (min-width: 992px) {
//                 bottom:0; 
//             }
//             left: 0;
//             right: 0;
//             margin: auto;
//             font-size: 1.2vw;
//             color: #575757;
//         }
//     }
// }

